<h4>LIME　ECサイトにて商品が購入されました。</h4>
<p>LIME ECサイトにてオーダーを確認し、商品を発送してください。</p>

<p>オーダー情報</p>
<h4><%= @user.name %> 様</h4>
<h5><%= @product.title %></h5>
<p><%= @product.price %>円(消費税・送料込み)</p>
<p>商品を7日以内に発送してください。</p>
<p>商品は7日以内に発送できない場合、<%= @user.name %>様にメールを差し上げてください。</p>
<p><%= @user.name %>様のメールアドレス</p>
<p><%= @user.email %></p>
<br><br>
