<br><br>


<!-- 写真モーダル１ -->
<div class="img-modal-wrapper" id="modal_<%= @product.id %>">
  <div class="modal">
    <div class="close-modal">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div>
      <%= image_tag @product.images[0].thumb50.url %>
    </div>
  </div>
</div>

<!-- 写真モーダル２ -->
<% if @product.images[1] %>
<div class="img-modal-wrapper-1" id="modal_<%= @product.id %>_1">
  <div class="modal">
    <div class="close-modal">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div>
      <%= image_tag @product.images[1].thumb50.url %>
    </div>
  </div>
</div>
<% end %>

<!-- 写真モーダル３ -->
<% if @product.images[2] %>
<div class="img-modal-wrapper-2" id="modal_<%= @product.id %>_2">
  <div class="modal">
    <div class="close-modal">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div>
      <%= image_tag @product.images[2].thumb50.url %>
    </div>
  </div>
</div>
<% end %>

<!-- 写真モーダル４ -->
<% if @product.images[3] %>
<div class="img-modal-wrapper-3" id="modal_<%= @product.id %>_3">
  <div class="modal">
    <div class="close-modal">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div>
      <%= image_tag @product.images[3].thumb50.url %>
    </div>
  </div>
</div>
<% end %>

<!-- 写真モーダル５ -->
<% if @product.images[4] %>
<div class="img-modal-wrapper-4" id="modal_<%= @product.id %>_4">
  <div class="modal">
    <div class="close-modal">
      <i class="fas fa-minus-circle"></i>
    </div>
    <div>
      <%= image_tag @product.images[4].thumb50.url %>
    </div>
  </div>
</div>
<% end %>




<!-- ここから商品ラッパー -->
<div class="form-wrapper">
  <!-- 商品タイトル -->
  <div class="product-title">
    <p><%= @product.title %></p>
  </div>



  <!-- ※配列の都合上1ずつ[]の中身等がずれているので注意 -->
  <!-- プロダクトイメージ１ -->
  <div class="product-image-wrapper">
    <div class="product-image" data-target="#modal_<%= @product.id %>">
      <%= image_tag @product.images[0].thumb.url %>
    </div>
    <div class="product-image-p">クリックで画像拡大</div>
    <% if @product.images[1] %>
    <i class="fas fa-chevron-circle-right next-img"></i>
    <% end %>
  </div>


  <!-- プロダクトイメージ２ -->
  <% if @product.images[1] %>
  <div class="product-image-wrapper-1">
    <div class="product-image-1" data-target="#modal_<%= @product.id %>_1">
      <%= image_tag @product.images[1].thumb.url %>
    </div>
    <div class="product-image-p">クリックで画像拡大</div>
    <i class="fas fa-chevron-circle-left previous-img-1"></i>
    <% if @product.images[2] %>
    <i class="fas fa-chevron-circle-right next-img-1"></i>
    <% end %>
  </div>
  <% end %>

  <!-- プロダクトイメージ３ -->
  <% if @product.images[2] %>
  <div class="product-image-wrapper-2">
    <div class="product-image-2" data-target="#modal_<%= @product.id %>_2">
      <%= image_tag @product.images[2].thumb.url %>
    </div>
    <div class="product-image-p">クリックで画像拡大</div>
    <i class="fas fa-chevron-circle-left previous-img-2"></i>
    <% if @product.images[3] %>
    <i class="fas fa-chevron-circle-right next-img-2"></i>
    <% end %>
  </div>
  <% end %>

  <!-- プロダクトイメージ４ -->
  <% if @product.images[3] %>
  <div class="product-image-wrapper-3">
    <div class="product-image-3" data-target="#modal_<%= @product.id %>_3">
      <%= image_tag @product.images[3].thumb.url %>
    </div>
    <div class="product-image-p">クリックで画像拡大</div>
    <i class="fas fa-chevron-circle-left previous-img-3"></i>
    <% if @product.images[4] %>
    <i class="fas fa-chevron-circle-right next-img-3"></i>
    <% end %>
  </div>
  <% end %>

  <!-- プロダクトイメージ５ -->
  <% if @product.images[4] %>
  <div class="product-image-wrapper-4">
    <div class="product-image-4" data-target="#modal_<%= @product.id %>_4">
      <%= image_tag @product.images[4].thumb.url %>
    </div>
    <div class="product-image-p">クリックで画像拡大</div>
    <i class="fas fa-chevron-circle-left previous-img-4"></i>
  </div>
  <% end %>


  <!-- 商品詳細 -->
  <div class="product-description product-description-buy">
    <p><%= @product.description %></p>
  </div>



  <!-- 商品値段 -->
  <div class="product-price" id="product-price">
    <p>価格</p>
    <p><%= @product.price %>円</p>
  </div>
</div>

<br><br>


  <!-- ユーザログイン中の場合表示させる -->
<% if user_signed_in? %>
  <!-- 在庫が１以上のとき、カード支払いを表示させる -->
<% if @product.stock_quantity > 0 %>
  <%= form_with local: true, url: "/products/#{@product.id}/pay" do |form| %>
    <script
      type="text/javascript"
      src="https://checkout.pay.jp"
      class="payjp-button"
      data-key= "<%= ENV["PAYJP_ACCESS_KEY"] %>">
    </script>
  <% end %>

  <div class="reload-btn">
    <a href="javascript:location.reload();">※購入ボタンが表示されない場合<br>こちらをクリックして更新してください。</a>
  </div>

  <!-- 在庫が０のとき、カード支払いを表示させず、売り切れの旨表示させる -->
<% else %>
  <p>※申し訳ありません。こちらの商品は入荷待ちです。</p>
<% end %>

  <!-- 未ログインユーザの際、表示させる -->
<% else %>

  <!-- 新規登録とログインリンク群 -->
<div class="buy-login">
  <p>※購入にはログインが必要です。</p>
  <%= link_to("新規登録", new_user_registration_path) %>
  <%= link_to("ログイン", new_user_session_path) %>
</div>

<% end %>



<br><br>



<!-- 以下、特定商取引法表示 -->
<div class="notation-btn">
  <p>特定商取引法表示  <i class="fas fa-plus-square" id="notation-list-btn"></i><i class="fas fa-minus-square" id="notation-list-minus-btn"></i></p>
</div>
<div class="notation-wrapper-2">

  <div class="notation-list-item">
    <p>商品のお支払い・発送・返品交換について  <i class="fas fa-plus-square" id="notation-click-1"></i><i class="fas fa-minus-square" id="notation-click-1-minus"></i></p>
  </div>

  <div class="notation-product">
    <div class="notation-description-title">
      <h3>お支払い方法</h3>
    </div>

    <p>クレジットカード決済のみ</p>

    <div class="notation-description-title">
      <h3>お支払い時期</h3>
    </div>

    <p>クレジットカード：購入時</p>

    <div class="notation-description-title">
      <h3>商品代金以外の必要料金</h3>
    </div>

    <p>頂戴しておりません。送料や消費税等全て記載の料金に含まれています。</p>

    <div class="notation-description-title">
      <h3>商品の引渡し時期</h3>
    </div>

    <p>
      購入完了時にお客様宛てに自動でメールをお送りいたします。
      <br>
      メールをお送りした時間を起点として7日以内に発送致します。
      <br>
      こちらの都合で7日以上お時間を頂く場合には、別途メールをお送りします。
      <br>
      ご了承ください。
    </p>

    <div class="notation-description-title">
      <h3>返品・交換について</h3>
    </div>

    <p>不良品、輸送中の破損、誤品の場合のみ返金、もしくは交換致します。
    <br>
    商品到着より7日以内にご連絡の上、上記住所までご返送下さい。
    <br>
    送料はこちらで負担致します。
    <br>
    また以下のような場合は返品をお受けできません。
    <br><br>
    ・商品到着後、７日以上経過した商品
    <br>
    ・一度ご使用になられた商品（使用後不良品とわかった場合を除く）
    <br>
    ・お客様のもとでキズや汚れが生じた商品
    <br><br>
    交換の際に同商品がない場合は、返金とさせていただきます。
    <br>
    予めご了承ください。</p>
  </div>




  <div class="notation-list-item">
    <p>個人情報の取り扱いについて  <i class="fas fa-plus-square" id="notation-click-2"></i><i class="fas fa-minus-square" id="notation-click-2-minus"></i></p>
  </div>

  <div class="notation-personal">
    <p>
    当Webサイトでは、個人情報を適切に利用するとともに、そのセキュリティ管理を徹底致します。
    <br>
    業務上知り得た個人情報の内容をみだりに第三者に開示し、叉は不当な目的に使用致しません。
    <br>
    下記利用目的の範囲内で、具体的な業務にしたがって権限を与えられた者のみが取り扱いを行い、
    <br>
    利用目的の上で必要な限りにおいて取り扱うものと致します。
    <br><br>
    【利用目的】
    <br>
    当Webサイトが取り扱う商品の提供、返品交換等への対応
    </p>
  </div>



  <div class="notation-list-item">
    <p>販売事業主・運営責任者・販売責任者について  <i class="fas fa-plus-square" id="notation-click-3"></i><i class="fas fa-minus-square" id="notation-click-3-minus"></i></p>
  </div>

  <div class="notation-leader">
    <div class="notation-description-title">
      <h3>販売事業主・運営責任者・販売責任者</h3>
    </div>

    <p>瀬川　翔</p>
    <div class="notation-description-title">
      <h3>所在地</h3>
    </div>

    <p>千葉県市川市曽谷5-31-7</p>

    <div class="notation-description-title">
      <h3>電話番号</h3>
    </div>

    <p>070-1254-1997</p>

    <div class="notation-description-title">
      <h3>メールアドレス</h3>
    </div>

    <p>lime.lime.lime.jp@gmail.com</p>
  </div>



  <br><br>

</div>


<br><br>


<!-- root_pathリンク -->
<div class="admin-btn">
  <%= link_to("戻る", root_path) %>
</div>

<br><br>
