<!-- 商品登録　管理者のみに表示させる -->
<h1>管理者画面</h1>

<% @product.errors.full_messages.each do |message| %>
  <div class="flash time-limit">
    <%= message %>
  </div>
<% end %>

<p>商品登録</p>
<div class="form-wrapper">
<%= form_with model: @product, local: true do |f| %>
  <div class="form">
  <p>商品名（20文字以内）</p>
  <%= f.text_field :title, :placeholder => "商品名（20文字以内）" %>
  </div>
  <div class="form">
  <p>商品説明（500文字以内）</p>
  <%= f.text_area :description, :placeholder => "商品説明（500文字以内）" %>
  </div>
  <div class="form">
  <p>価格（税込）※数字のみ記述</p>
  <%= f.number_field :price, :placeholder => "価格（税込）※数字のみ記述" %>
  </div>
  <div class="form">
  <p>在庫数 ※数字のみ記述</p>
  <%= f.number_field :stock_quantity, :placeholder => "在庫数 ※数字のみ記述" %>
  </div>
  <div class="form img">
  <p>画像（1枚必須・5枚まで任意）</p>
  <%= f.file_field :images, multiple: true %>
  <%= f.file_field :images, multiple: true %>
  <%= f.file_field :images, multiple: true %>
  <%= f.file_field :images, multiple: true %>
  <%= f.file_field :images, multiple: true %>
  </div>
  <div class="form">
  <%= f.submit value="登録" %>
  </div>
<% end %>
</div>

<div class="admin-btn">
  <%= link_to("戻る", root_path) %>
</div>

<br><br>
