<h1>管理者画面</h1>
<h1>商品詳細</h1>


<div class="img-modal-wrapper" id="modal_<%= @product.id %>">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-remove" aria-hidden="true"></i>
    </div>
    <div>
      <%= image_tag @product.image_name.thumb50.url %>
    </div>
  </div>
</div>




<div class="form-wrapper">
  <div class="product-title">
    <p><%= @product.title %></p>
  </div>
  <div class="product-description">
    <p><%= @product.description %></p>
  </div>
  <div class="product-image" data-target="#modal_<%= @product.id %>">
    <%= image_tag @product.image_name.thumb.url %>
  </div>
  <div class="product-price">
    <p>価格</p>
    <p><%= @product.price %>円</p>
  </div>
  <div class="product-stock_quantity">
    <p>在庫</p>
    <p><%= @product.stock_quantity %>個</p>
  </div>
</div>

<br><br>

<% if @user && current_user.admin? %>
<div class="admin-btn">
  <%= link_to("編集", edit_product_path) %>
</div>

<div class="admin-btn">
  <%= link_to("削除", "/products/#{@product.id}", method: :delete) %>
</div>
<% end %>


<div class="admin-btn">
  <%= link_to("戻る", root_path) %>
</div>

<br><br>
