<h1>商品詳細</h1>
<p><%= @product.title %></p>
<p><%= @product.description %></p>
<%= image_tag @product.image_name.thumb.url %>
<p>価格</p>
<p><%= @product.price %>円</p>
<p>在庫</p>
<p><%= @product.stock_quantity %>個</p>
<%= link_to("編集", edit_product_path) %>
<%= link_to("削除", "/products/#{@product.id}", {method: "delete"}) %>
<%= link_to("戻る", root_path) %>
