<!DOCTYPE html>
<html>
  <head>
    <title>LIME ECサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <img class="logo" src="<%= asset_path('lime_logo.png') %>">
      <h1 id="header-message">LIME</h1>
    </header>

    <% if notice %>
      <div class="flash time-limit">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="flash time-limit">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
